if [[ -z "${MOVE_ROOT}" ]]; then
    echo 'Warning: Please set environment variable MOVE_ROOT'
    return
fi

if [[ -z "${MOVE_JSON}" ]]; then
    export MOVE_JSON="${HOME}/.config/mOve/projects.json"
fi

# jump to a project directory
function o() {
    if [ "$#" -eq 1 ]; then
        case $1 in
            -h | -help )
                o ;;
            -e | -edit )
                vi ${MOVE_JSON} ;;
            -load )
                . ${MOVE_ROOT}/mOve.rc ;;
            * )
                THISDIR="$(python3 ${MOVE_ROOT}/getdir.py $1)" && \
                    cd $THISDIR && echo $THISDIR ;;
        esac
        return
    fi
    if [ "$#" -gt 1 ]; then
	      python3 "${MOVE_ROOT}/mOve" $@
    fi
    if [ "$#" -lt 1 ]; then
        echo "
usage: o tag

Jump to the directory tagged "tag"

"
        Python3 "${MOVE_ROOT}/mOve" -h
        return
    fi
}

alias workon="${MOVE_ROOT}/workon"
export MOVE_GETDIR="${MOVE_ROOT}/getdir.py"

function wo() {
    if [ "$#" -lt 1 ]; then
	      echo "Usage: wo [project]"
    fi
    if [[ ! -z ${MOVE_ROOT} ]]; then
	      THISDIR="$(python ${MOVE_ROOT}/getdir.py $1)" && \
	          cd $THISDIR && echo $THISDIR
	      python3 "${MOVE_ROOT}/mOve" start $@
    fi
}

